* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    --zecron: #f3f6ff;
    --light-blue: #89d4ff;
    --dark-blue: #445cb4;
}
/* Start Preloader */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: var(--zecron);
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid var(--light-blue);
    border-top-color: var(--zecron);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/* End Preloader */

/* Start Main */
main {
    min-height: 100vh;
    background-color: var(--zecron);
}
section .search .search-icon {
    top: 20px;
    left: 10px;
    color: var(--dark-blue);
    cursor: pointer;
}
section .search input {
    color: var(--dark-blue);
    background-color: var(--light-blue);
}
section .card {
    background-color: var(--light-blue);
}
section .card img {
    width: 200px;
}
section .card p ,section .card .card-title {
    color: var(--dark-blue);
}
/* End Main */